<% layout("/layouts/boilerplate")%>
<body>
    
    <form method="POST" action="/listings/<%=showlisting._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2">
                <br/>
        <h4>Edit the listing</h4>
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%=showlisting.title%>" class="form-control" required/>
            <div class="invalid-feedback">
                Please enter the title
              </div>
        </div>
        <br/><br/>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]" class="form-control" required><%=showlisting.description%></textarea>
            <div class="invalid-feedback">
                Please enter the description
              </div>
        </div>
        <br/><br/>
        <div>
            Original Image <br>
            <img src="<%=originalImageUrl%>" alt="listing image">
        </div>
        <div>
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="listing[image]"  class="form-control" />
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" value="<%=showlisting.price%>" class="form-control" required/>
                <div class="invalid-feedback">
                    Please enter a valid price
                  </div>
    
            </div>
            <div class="col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%=showlisting.country%>" class="form-control" required/>
                <div class="invalid-feedback">
                    Please enter the country name
                  </div>
            </div>
        </div>
        
        <br/><br/>
        <div>
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%=showlisting.location%>" class="form-control" required/>
            <div class="invalid-feedback">
                Please enter a valid location
              </div>
        </div>
        <br/><br/>
        <button class="btn btn-outline-danger ">edit</button>
        <br/><br/>
    </form>
</body>
</div>
</div>